 .card {
    width:330px;
    height: 390px;
    height: fit-content;
    margin: 20px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12) ;
    display:flex;
}

.no-shadow-card{
    box-shadow: none;
}
.card:hover{
    font-size: 2rem;
    font-weight: bolder;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12) ;
}

.card-title{
    font-weight: bolder !important;
}

.card-title:hover{
    color: #88b44e;
}

@media screen and (width:320px){
    .card-deck {
        margin: 0px !important;
    }

    .card{
        margin: auto;
        width: 320px;
    }
}

@media screen and (width:375px){
    .card-deck {
        margin: 10px !important;
    }

    .card{
        margin:-10px !important;
        width: 375px;
    }
}
@media screen and (width:425px){
    .card-deck {
        margin: 30px !important;
    }

    .card{
        margin:-35px !important;
        width: 425px;
    }
}