.navbar-brand {
    padding: 18px 20px;
    display: inline-block;
}

.nav-wrapper .navbar{
    background-color: #88b44e !important;
    justify-content: flex-end;
    padding:0em 1em;
}

.rs-nav-item .rs-nav-item-content{
    font-weight: bold;
    font-size: 16px;
    color:whitesmoke !important;
    text-decoration: none;
    background-color:#88b44e !important;
}

.rs-nav-item .rs-nav-item-content:hover{
    transition: all 0.5s ease;
    color:#64676d !important;
    text-decoration: none;
    background-color: white !important;
}


.rs-dropdown .rs-btn:hover{
    color:#64676d !important;
}
.rs-dropdown .rs-btn-subtle:focus{
    color:#64676d !important;
    background-color: white !important;
}
.rs-dropdown .rs-btn:active{
    color:#88b44e !important;
}
.rs-dropdown .rs-btn{
    font-weight: bold;
    font-size: 16px;
    color:#64676d !important;
}
.rs-dropdown .rs-dropdown-menu{
    background-color: #88b44e;
    font-size: 16px;
}
.rs-dropdown-menu .rs-dropdown-item-content {
    color:#64676d;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: bold;
}
.rs-dropdown-menu .rs-dropdown-item-content:hover {
    background-color: white !important;
}
.rs-dropdown-menu .rs-dropdown-item-content .rs-icon:hover{
    color:#64676d ;
}


.rs-dropdown .rs-icon{
    color:#64676d;
}

.rs-nav-item .rs-icon{
    color:#64676d;
}

.rs-dropdown .rs-icon:hover{
    color:#64676d !important;
}

.rs-badge .rs-badge-content {
    position: absolute;
    top: 15px !important;
    right: 52px !important;
    transform: translate(50%, -50%);
    z-index: 1;
}

a.link {
    color:#64676d;
    text-decoration: none !important;
    padding: 1.1rem 0;
}

a.link:hover{
    color:#64676d;
    text-decoration: none !important;
}


